<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chord Progressions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>List of Chord Progressions</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Name</th>
        <th>Notes</th>
    </tr>
    <tr th:each="chord : ${modelCp}">
        <td th:text="${chord.getId()}">Id</td>
        <td th:text="${chord.getNumbers()}">Number</td>
        <td th:text="${chord.getNames()}">Name</td>
        <td th:text="${chord.getNotes()}">Notes</td>
    </tr>
</table>

</body>
</html>
