<div>
  <button (click)="generate()">Generate Chord and Attach</button>
  <br />
  <div class="exampleNote">
    {{ noteInter }}
  </div>
  <br />
  <input [(ngModel)]="keypress" placeholder="key being pressed" />
  <!-- So when I hit a key, I need to generate a chord -->
  <p>The currrent key being pressed: {{ keypress }}</p>
  <br />

  <div *ngIf="keypress">
    <!-- How do i pass the key press to the chord ndoe -->
    <!-- Treat teach circle note as a seperate component and generate it -->
    <!-- <app-chord-item></app-chord-item> -->
    <!-- https://youtu.be/Fdf5aTYRW0E?t=2134 -->
    <app-chord-node [chordNameKeypress]="keypress"></app-chord-node>
  </div>

  <br />
</div>
