<div class="chords-container">
  <div id="chord-0" class="node">
    <!-- r1: &#8544; -->
    <div class="roman-num">r1</div>
    <!-- circle-major will change depending on keyname -->
    <div class="circle circle-major">
      <div class="name">HTML C</div>
    </div>
  </div>

  <div class="description-container">
    <label>HTML M1 to m3</label>
    <div class="arrow">----></div>
  </div>

  <div id="chord-1" class="node">
    <!-- https://www.toptal.com/designers/htmlarrows/numbers/roman-numeral-one/ -->
    <div class="roman-num">r3</div>
    <div class="circle circle-minor">
      <div class="name">HTML Em</div>
    </div>
  </div>

  <div class="description-container">
    <label>HTML m3 to M4</label>
    <div class="arrow">----></div>
  </div>

  <div id="chord-2" class="node">
    <div class="roman-num">r4</div>
    <div class="circle circle-major">
      <div class="name">HTML Fadd9</div>
    </div>
  </div>
</div>
